<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Subscription App</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="view page-center">
  <div class="auth-box">
    <h2>Login</h2>

    <form id="loginForm">
      <label>Email</label>
      <input type="email" id="email" required>

      <label>Password</label>
      <input type="password" id="password" required>

      <button type="submit">Login</button>
    </form>

    <p id="message" class="message"></p>

    <p class="hint">No account? <a href="register.html">Register</a></p>
  </div>
</section>

<script>
const LOGIN_API = "https://wn4widaisl.execute-api.us-east-1.amazonaws.com/default/login";

document.getElementById("loginForm").addEventListener("submit", async function(e) {
  e.preventDefault();

  const email = document.getElementById("email").value;
  const password = document.getElementById("password").value;
  const message = document.getElementById("message");

  message.innerText = "Logging in...";

  try {
    const res = await fetch(LOGIN_API, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ email, password })
    });

    const data = await res.json();

    if (data.success) {
      localStorage.setItem("email", data.email);
      localStorage.setItem("user_name", data.user_name);

      window.location.href = "main.html";
    } else {
      message.innerText = data.message;
    }

  } catch (error) {
    message.innerText = "Login failed. Please check API Gateway CORS or endpoint.";
    console.error(error);
  }
});
</script>

</body>
</html>